.CV{
    padding: 30px;; 
}

.cv1, .cv2, .cv3, .cv4, .cv5, .cv6 {
    margin-bottom: 20px;
}

h1,h2,h3,h4
    {
    
    padding:0;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    }



.cv1 p,
.cv2 p,
.cv3 p,
.cv4 p,
.cv5 p,
.cv6 p {

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

.cv1 address,
.cv2 address,
.cv3 address,
.cv4 address,
.cv5 address,
.cv6 address,
.cv1 ul,
.cv2 ul,
.cv3 ul,
.cv4 ul,
.cv5 ul,
.cv6 ul {
    margin-bottom: 10px;
}

.cv1 article,
.cv2 article,
.cv3 article,
.cv4 article,
.cv5 article,
.cv6 article {
    margin-bottom: 20px;
}

.cv1 header,
.cv2 header,
.cv3 header,
.cv4 header,
.cv5 header,
.cv6 header {
    margin-bottom: 20px;
}

.cv1 li,
.cv2 li,
.cv3 li,
.cv4 li,
.cv5 li,
.cv6 li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

ul {
    padding: 0;
}

.CvSidafooter
{   
    position: absolute; 
    bottom: auto;
    text-align: center;
    width: 100%;
}
