@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    background-color: #333
}
.navbar li {
    flex: 1;
    border: 1px solid #ddd;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 4px;
} 

.navbar li a {
    display: block;
    color: white;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
}

.navbar li.active a,
.navbar li a:hover {
background-color: black;
}


@media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: stretch;
    }
  
    .navbar li {
      border-bottom: 1px solid #444;
    }
  
    .navbar li a {
      padding: 14px 16px; 
    }
  }
  
  @media (max-width: 480px) {
    .navbar li a {
      padding: 14px 16px;
    }

  }

  