.portfolio {
    padding: 20px;
}

.portfolio ul {
    list-style-type: none;
    padding: 0;
}

.portfolio li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.portfolio li h2, 
.portfolio li p 
{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    margin: 0;
    margin-top: 0;
    padding: 0;
}

.portfolio li a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.portfolio li a:hover {
    text-decoration: underline;
}

.Portfoliofooter
{   
    position: absolute;
    bottom: auto;
    width: 100%;
}
